.catalog {
  margin: 150px 50px;
}

.catalog-space {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 20px;
}

.catalog-box {
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  padding: 30px;
}

/*  Advanced search*/

.catalog-search {
  margin: 40px 0;
}

.search-label {
  font-size: 30px;
  font-weight: 500;
  margin: 10px;
}

.search-input {
  font-size: 24px;
  width: 100%;
  border: #34344a 2px solid;
  border-radius: 5px;
  padding: 0 10px;
}

.search-by-genre {
  margin-bottom: 30px;
}

.search-sorting {
  margin-top: 100px;
  margin-bottom: 30px;
}

.search-by-year {
  margin-bottom: 30px;
}

.select-input {
  font-size: 24px;
  width: 100%;
  border: #34344a 2px solid;
  border-radius: 5px;
  padding: 0 10px;
}

.button-search {
  margin-top: 30px;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
  color: white;
  font-weight: 500;
  background-color: #ffb052;
  padding: 0 20px;
}

.button-search:hover {
  background-color: #840012;
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em #ffb052;
}
/* Catalog */
.catalog-header-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog-title {
  line-height: 60px;
}

.catalog-views {
  display: flex;
}
.catalog-views-text {
  line-height: 60px;
  font-size: 28px;
  margin-right: 20px;
}
.icon-view {
  font-size: 40px;
  width: 60px;
  text-align: center;

  padding: 10px;

  border-radius: 10px;
  margin-left: 20px;
}

.view-selected {
  color: #34344a;
  background-color: #ffb052;
  box-shadow: 0px 3px 6px #00000029;
}

.view-not-selected {
  color: #34344a;
  background-color: lightgrey;
}

/* Card 1 */
.catlog-cards1 {
  margin: 60px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-card1 {
  display: grid;
  grid-template-columns: 200px auto;
  margin: 20px 0;
}

.catalog-card1:hover {
  background-color: #e6e6e670;
}

.catalog-card1-img-space {
  width: 200px;
  height: auto;
}

.catalog-card1-info-space {
  margin-left: 30px;
}

.catalog-card1-info-text {
  font-size: 24px;
}

/* Card 2 */
.catlog-cards2 {
  margin: 60px 20px 40px 20px;
  display: grid;
  grid-gap: 30px;
  justify-items: center;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.catlog-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 260px;
}

.catalog-card-image {
  height: 300px;
  width: auto;
  border-radius: 20px;
}

/* Pagination */

.catalog-pagination-line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pagination-icon {
  font-size: 40px;
}

.paginatin-input {
  border: #34344a 2px solid;
  border-radius: 5px;
  width: 50px;
  font-size: 24px;
  text-align: center;
  margin-right: 10px;
}

.pagination-text {
  font-size: 24px;
  line-height: 40px;
}

.pagination-flex {
  display: flex;
  margin: 0 40px;
}
