.categories {
  margin: 100px 200px;
}

.categories-header {
  text-align: center;
  margin: 200px 0 100px 0;
}

.categories-name {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
}

.categories-space {
  height: 200px;
  width: auto;
  transition: all 100ms ease-in-out;
}

.categories-space:hover {
  transform: translateY(-0.25em);
  box-shadow: 0 25px 17px -20px #ffb052;
  position: relative;
}

.categories-gradient {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: rgba(255, 0, 0, 0.5);
}

.categories-gradient:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: currentColor;
  border-radius: 20px;
}

.categories-card-img {
  object-fit: cover;
  border-radius: 20px;
}

.categories-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  font-size: 40px;
  font-weight: 500;
  color: #fff;
  z-index: 1;
}

@media (max-width: 1200px) {
  .categories {
    margin: 50px 100px;
  }

  .categories-header {
    margin: 150px 0 50px 0;
  }

  .categories-name {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 30px;
  }

  .categories-text {
    font-size: 35px;
  }
}

@media (max-width: 900px) {
  .categories {
    margin: 50px 50px;
  }

  .categories-name {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
  }

  .categories-text {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .categories-header {
    margin: 120px 0 40px 0;
    font-size: 40px;
  }

  .categories {
    margin: 50px 20px;
  }
}
