.footer {
  background-color: #840012;
  margin-top: 250px;
  width: 100vw;
  height: auto;
}

.footer-flex {
  display: grid;
  padding: 100px 100px 30px 100px;
  grid-template-columns: 70% 30%;
}

.footer-media {
  display: flex;
}
.footer-image {
  width: 200px;
  height: 200px;
  border-radius: 500px;
  border: 2px solid white;
}
.footer-developer {
  margin-left: 40px;
}
.footer-developer-name {
  color: #fff;
  font-size: 23px;
}

.footer-contact {
  margin-left: 80px;
}

.footer-link {
  display: flex;
  margin-bottom: 20px;
}
.footer-icon {
  font-size: 50px;
  color: white;
}

.footer-link-text {
  color: white;
  font-size: 24px;
  line-height: 50px;
  margin-left: 30px;
}

.footer-link:hover > * {
  color: #ffe377;
}

.footer-bottom {
  text-align: center;
  padding-bottom: 40px;
}

.footer-link-text > a:hover {
  color: #ffe377;
}

.footer-link-text > a {
  color: #fff;
}
