/* Hero */

.hero {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.hero-space {
  width: 100vw;
  height: calc(1 / 4 * 100vw);
}
.hero-gradient {
  position: relative;
  display: inline-block;
}

.hero-wallpaper {
  display: block;
  height: auto;
  width: 100vw;
}

.hero-gradient:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: transparent
    linear-gradient(
      to right,
      #000000 0%,
      #000000b3 25%,
      #00000000 70%,
      #ffffff00 100%
    )
    0% 0% no-repeat padding-box;
  transition: all 5s;
}

.hero:hover .hero-trending-extra-info {
  transform: translateY(0px);
  color: white;
  background-color: rgba(25, 25, 25, 0.5);
}

.hero-content {
  position: absolute;
  top: 20px;
  left: 0;
  cursor: pointer;
  margin: 0 50px;
}

.hero-trending-image {
  height: 250px;
  width: auto;
  border-radius: 5px;
}

.hero-trending-header {
  color: white;
  text-align: left;

  margin-bottom: 35px;
  margin-top: 20px;
}

.hero-trending-info {
  margin-left: 30px;
}

.hero-trending-title {
  color: white;
  text-align: left;
  margin-bottom: 25px;
}

.hero-trending-text {
  color: white;
  font-size: 26px;
  line-height: 34px;
}

.hero-trending-info {
  color: white;
}

.hero-trending-more-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-trending-extra-info {
  color: rgba(255, 255, 255, 0);
  font-size: 28px;
  padding: 8px 30px;
  border-radius: 10px;
  background-color: rgba(25, 25, 25, 0);
  transition: 500ms all ease-in-out;
  transform: translateY(50px);
  width: 300px;
  margin: 15px 30px;
  text-align: center;
}

.flex-container {
  display: grid;
  grid-template-columns: 10% 50% 30%;
}

/* Sorting title */
.sorting-titles {
  margin: 80px 60px 0px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sorting-title {
  margin-right: 50px;
  color: gray;
  font-weight: 600;
  cursor: pointer;
}

.current-sorting {
  color: #840012;
}

/* Hero animation */
.fade-enter-active {
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    transform: translateY(20px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

/* Media queries */

@media (min-width: 1920px) {
  .hero-space {
    width: 1920px;
    height: calc(1 / 4 * 1920px);
  }

  .hero-wallpaper {
    width: 1920px;
  }
}

@media (max-width: 1700px) {
  .flex-container {
    grid-template-columns: 10% 65% 20%;
  }
}

@media (max-width: 1550px) {
  .flex-container {
    grid-template-columns: 10% 80%;
  }

  .hero-trending-image {
    height: 200px;
  }

  .hero-trending-more-info {
    display: none;
  }

  .hero-trending-title {
    margin-bottom: 15px;
  }

  .hero-trending-text {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 1400px) {
  .hero-trending-header {
    display: none;
  }

  .hero-content {
    margin-top: 50px;
  }
}

@media (max-width: 1250px) {
  .flex-container {
    grid-template-columns: 15% 80%;
  }

  .hero-content {
    margin-top: 30px;
  }

  .hero-trending-title {
    font-size: 40px;
    line-height: 42px;
  }
}

@media (max-width: 1250px) {
  .hero-content {
    margin-top: 10px;
  }

  .hero-trending-text {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 1000px) {
  .sorting-titles {
    margin: 60px 40px 0px 40px;
  }

  .sorting-title {
    margin-right: 40px;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .hero-trending-image {
    display: none;
  }

  .flex-container {
    grid-template-columns: 100%;
  }

  .hero-content {
    margin: 0 20px;
  }
}

@media (max-width: 800px) {
  .sorting-title {
    margin-right: 28px;
  }

  .hero-trending-image {
    display: block;
  }

  .flex-container {
    grid-template-columns: auto auto;
    margin: 0 20px;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    padding: 20px;
  }

  .hero-trending-header {
    color: #000;
    font-size: 34px;
    display: block;
    margin: 0 0 20px 40px;
  }

  .hero-trending-image {
    height: auto;
    width: 22vw;
    grid-row: 1 / 3;
    border-radius: 5px;
  }

  .hero-gradient {
    display: none;
  }

  .hero-trending-text {
    font-size: 18px;
    line-height: 20px;
  }

  .hero-trending-title,
  .hero-trending-text {
    color: #34344a;
  }

  .hero-content {
    position: relative;
  }

  .hero-trending-title {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 10px;
  }
}

@media (max-width: 670px) {
  .sorting-titles {
    margin: 50px 20px 0px 20px;
  }

  .sorting-title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .movie-card-title {
    font-size: 20px;
    line-height: 20px;
  }

  .hero-trending-header {
    font-size: 32px;
    display: block;
    margin: 0 0 10px 40px;
  }

  .hero-trending-title {
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 30px;
  }
}

@media (max-width: 564px) {
  .sorting-titles {
    margin: 40px 20px 20px 20px;
    justify-content: center;
  }

  .sorting-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .hero-trending-text {
    font-size: 16px;
    line-height: 18px;
  }

  .hero-trending-title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 6px;
  }

  .hero-trending-info {
    margin-left: 10px;
  }
}

@media (max-width: 450px) {
  .flex-container {
    grid-template-columns: auto;
    background-color: unset;
    box-shadow: unset;
    border-radius: unset;
    padding: 0;
    margin: 0;
    align-items: start;
  }

  .hero-trending-header {
    color: #fff;
    font-size: 22px;
    margin: 0 0 10px 0;
    font-weight: 400;
    /* display: none; */
  }

  .hero-trending-info {
    margin-left: unset;
  }

  .hero-trending-title {
    color: #fff;
    font-size: 26px;
    line-height: 22px;
    font-weight: 500;
    text-align: start;
    margin-top: 10px;
  }

  .hero-content {
    position: absolute;
  }

  .hero-trending-image {
    display: none;
  }

  .hero-trending-text {
    display: none;
  }

  .hero-gradient {
    display: block;
  }

  .hero-wallpaper {
    width: 200vw;
    overflow: hidden;
    transform: translateX(-90vw);
  }
}
