.login {
  height: calc(100vh - 70px);
  background-image: url("../../assets/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.login-box {
  position: absolute;
  top: calc(50% - 35px); /* center minus half navbar*/
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 1200px;
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 40% 60%;
  box-shadow: 0 3px 6px #00000029;
}

.login-box-left {
  height: 100%;
  padding: 40px;
  background-color: #840012;
  border-radius: 20px 0 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-box-right {
  background-color: white;
  padding: 40px;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-text {
  margin-bottom: 40px;
}

/* Signup */

.signup-box {
  position: absolute;
  top: calc(50% - 35px); /* center minus half navbar*/
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 1200px;
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 60% 40%;
  box-shadow: 0 3px 6px #00000029;
}

.signup-box-left {
  height: 100%;
  padding: 40px;
  background-color: white;
  border-radius: 20px 0 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.signup-box-right {
  background-color: #840012;
  padding: 40px;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
