.navbar {
  height: 70px;
  width: 100vw;
  position: fixed;
  background-color: #840012;
  top: 0;
  overflow: hidden;
  z-index: 2;
}

.navbar-logo {
  margin-top: 15px;
  margin-left: 100px;
  height: 40px;
  width: auto;
  display: block;
  float: left;
  z-index: 20;
  cursor: pointer;
}

.navbar-logo-a {
  position: inherit;
}

.navbar-menu {
  float: right;
  height: 70px;
  line-height: 70px;
  white-space: nowrap;

  margin: 0;
  padding-right: 100px;
  list-style: none;
  overflow: hidden;
  background-color: #840012;
  z-index: 3;
  position: relative;
}

.menu-btn:checked ~ .navbar-menu {
  top: 70px;
  height: auto;
  opacity: 1;
  display: block;
}

.menu-btn:checked ~ .navbar-menu .navbar-menu-link {
  font-size: 2rem;
  opacity: 1;
}

.navbar-menu-element {
  display: inline;
  margin-left: 50px;
}

.navbar-menu-link {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  letter-spacing: 0px;
  text-align: center;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-menu-link:hover {
  color: #ffb052;
  -webkit-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.navbar-menu-link:hover,
.navbar .menu-btn:hover {
  border-radius: 5px;
}

/* menu icon */

.navbar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  position: relative;
  z-index: 20;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 100px;
}

.navbar .menu-icon .navicon {
  background: #fff;
  border-radius: 20px;
  display: block;
  height: 2.5px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 40px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: 9px;
}

.navbar .menu-icon .navicon:after {
  top: -9px;
}

/* menu btn */

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 1300px) {
  .navbar-menu-element {
    float: left;
  }

  .navbar .navbar-menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .navbar .menu-icon {
    display: none;
  }
}

@media (max-width: 1300px) {
  .navbar .menu-icon {
    padding: 35px 100px 8px 0;
  }

  .navbar-menu {
    top: 70px;
    position: fixed;
    background: #55131c;
    float: right;
    opacity: 0;
    height: auto;
    width: 100vw;
    line-height: unset;
    transition: height 0.5s ease-in-out;
    padding: 0 0 30px 0;
    display: none;
  }

  .navbar-menu-link {
    opacity: 0;
    transition: all 0.2s ease-out;
  }
}

@media (max-width: 700px) {
  .navbar-logo {
    margin-left: 50px;
  }

  .navbar .menu-icon {
    padding: 35px 50px 8px 0;
  }

  .menu-btn:checked ~ .navbar-menu .navbar-menu-link {
    font-size: 22px;
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .navbar-logo {
    margin-left: 30px;
  }

  .navbar .menu-icon {
    padding: 35px 30px 8px 0;
  }

  .navbar-logo {
    margin-top: 20px;

    height: 30px;
  }
}
