.random-movie {
  margin: 200px 0 100px 0;
}

.random-movie-card {
  margin: 0 auto;
  width: 700px;
  display: grid;
  justify-items: center;
  grid-template-columns: 100%;
  background-color: white;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 20px;
  padding: 30px 30px;
}

.random-movie-title {
  text-align: center;
}

.random-movie-img {
  width: 200px;
  height: auto;
  margin-top: 40px;
}

.card-content {
  padding: 20px;
}

.card-content-overview {
  margin: 20px 0;
  font-size: 24px;
  text-align: center;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-top: 20px;
}

.btn {
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
  color: white;
  font-weight: 500;
  background-color: #ffb052;
  padding: 0 20px;
}

.btn:hover {
  background-color: #840012;
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em #ffb052;
}

@media (max-width: 800px) {
  .random-movie-card {
    width: auto;
    margin: 100px 0 0 0;
  }

  .random-movie {
    margin: 150px 50px 100px 50px;
  }

  .buttons {
    grid-template-columns: 1fr;
  }

  .random-movie-title {
    text-align: center;
  }

  .random-movie-title {
    font-size: 38px;
  }
}

@media (max-width: 600px) {
  .card-content-overview {
    margin: 0;
    font-size: 22px;
    margin: 0;
  }

  .random-movie {
    margin: 150px 20px 50px 20px;
  }

  .random-movie-card {
    padding: 20px 10px;
  }

  .card-content {
    padding: 20px 10px;
  }

  .card-content-overview {
    font-size: 18px;
  }
}
