/*----------------------------------------------------------*/
/* 	0 - Imports												*/
/*----------------------------------------------------------*/
@import "./reset/reset.css";
@import "./pages/navbar.css";
@import "./pages/home.css";
@import "./pages/catalog.css";
@import "./pages/detailspage.css";
@import "./pages/footer.css";
@import "./pages/randompage.css";
@import "./pages/categories.css";
@import "./pages/login.css";
@import "./pages/sitemap.css";
@import "./pages/card.css";

/*----------------------------------------------------------*/
/* 	1 - General											*/
/*----------------------------------------------------------*/

/* 
Main color: #840012
Secondary colors: #FFB052 #FFE377
Text: #34344A
Background: #FAFAFA 
*/

body {
  background-color: #fafafa;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", helvetica, sans-serif, arial;
}

button {
  border: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #34344a;
}

h1 {
  font-size: 50px;
  line-height: 52px;
  font-weight: 600;
}

h2 {
  font-size: 44px;
  line-height: 46px;
  font-weight: 500;
  letter-spacing: 0px;
}

h3 {
  font-size: 40px;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 0px;
  margin-bottom: 50px;
}

.footer-icon {
  height: 40px;
  width: 40px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.min-height {
  min-height: calc(100vh - 70px - 560px); /*  100vh - navbar - footer*/
}

.margin-top {
  margin-top: 70px;
}

.container-inside {
  padding: 0 100px;
}

@media (max-width: 1200px) {
  .container-inside {
    padding: 0 60px;
  }
}

@media (max-width: 900px) {
  .container-inside {
    padding: 0 40px;
  }
}

@media (max-width: 600px) {
  .container-inside {
    padding: 0 20px;
  }

  .full-height {
    height: 100vh;
  }

  .disableScroll {
    overflow: hidden;
  }

  .color-yellow {
    color: #ffe377;
  }

  .color-white {
    color: #fff;
  }

  .center-text {
    text-align: center;
  }

  .flex {
    display: flex;
  }
}

@media (max-width: 500px) {
  .catalog-card1 {
    grid-template-columns: 140px auto;
  }

  .catalog-card1-img-space > img {
    width: 140px;
  }

  .catalog-header-line {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 20px;
  }

  .catalog-pagination-line {
    grid-area: 2/ 1/ 3 /3;
  }
}

@media (max-width: 400px) {
  .catalog-card1 {
    grid-template-columns: 100%;
    justify-items: center;
  }

  .catalog-card1-img-space > img {
    width: 100px;
  }

  .catalog-card1-info-space {
    margin-left: 0px;
  }

  .catalog-card1-info-space {
    align-items: center;
  }

  .catalog-card1 {
    margin: 20px 0;
  }

  .catalog-card1-info-text {
    margin-bottom: 0;
    text-align: center;
  }

  .catalog-card1-info-space > div > h2 {
    text-align: center;
  }
}
