/*----------------------------------------------------------*/
/* 	0 - Imports												*/
/*----------------------------------------------------------*/
@import "./reset/reset.css";
/* @import '../fonts/AcuminPro.css'; font here */
@import "./pages/navbar.css";
@import "./pages/home.css";
@import "./pages/catalog.css";
@import "./pages/detailspage.css";
@import "./pages/footer.css";

/*----------------------------------------------------------*/
/* 	1 - General											*/
/*----------------------------------------------------------*/

/* 
Main color: #840012
Secondary colors: #FFB052 #FFE377
Text: #34344A
Background: #FAFAFA 
*/

body {
  background-color: #fafafa;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", helvetica, sans-serif, arial;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.container-inside {
  padding: 0 100px;
}

.inside-right {
  padding-right: 100px;
}

.inside-left {
  padding-left: 100px;
}

.full-height {
  height: 100vh;
}

.disableScroll {
  overflow: hidden;
}

.color-yellow {
  color: #ffe377;
}
